*{
    /* border: 1px solid red; */
}

body {
    margin: 0 0 100px 0;
    padding: 0 0 80px 0;
    background-color: #000;
    color: #fff;
    border-bottom: 7px solid yellow;
    text-align: center;
}

.page-header {
    display: grid;
    place-items: center;
    width: 100%;
}

.page-header h1{
    font-size: 90px;
    font-family: 'Permanent Marker', cursive;
}

.page-header h3{
    font-size: 50px;
    font-family: 'Kalam', cursive;
}

.score {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   width: 100%;
   border-bottom: 7px solid yellow;
   padding-bottom: 25px;
}

.score h3{
    font-size: 50px;
}

.game-table {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 200px auto 160px;
    gap: 10px;
    width: 600px;
    background-color: #fff;
}

.boxes {
    font-size: 90px;
    text-align: center;
    padding: 20px;
    border: 0;
    height: 200px;
    background-color: black;
    font-family: 'Kalam', cursive;
}

.clicked {
}

.win-color {
    background-color: rgb(225, 162, 35);
}

.message {
    margin: 25px;
    padding: 0;
    height: 40px;
    font-size: 120px;
    color: rgb(225, 162, 35);
    font-family: 'Kalam', cursive;
}

.player-turn {
    color: yellow;
}

.reset-btn {
    font-size: 60px;
    font-family: 'Kalam', cursive;
    color: #fff;
    background-color: #000;
    border: 0;
}


@media (max-width: 1250px) {

    body {
        margin: 0;
        padding: 0 0 00px 0;
        border-bottom: 2px solid yellow;
        }

    .page-header h1{
        font-size: 38px;
     }

    .page-header h3{
        font-size: 30px;
        margin: 25px;
    }

    .score {
        gap: 1px;
        width: 100%;
        border-bottom: 2px solid yellow;
        padding-bottom: 40px;
     }

     .score h3{
        margin: 0;
        font-size: 22px;
    }

    .game-table {
        grid-template-columns: repeat(3,1fr);
        margin: 70px auto 25px;
        gap: 5px;
        width: 300px;
    }

    .boxes {
        font-size: 40px;
        padding: 10px;
        height: 100px;
    }

    .message {
        margin: 30px;
        margin-bottom: 10px;
        height: 25px;
        font-size: 40px;
    }

    .reset-btn {
        font-size: 28px;
        margin: 50px;
    }

}